{
  "table": {
    "front": {
      "saved": true,
      "time": "2025/10/22 am 10:14",
      "image_path": "../test_img/front/bg/manual_original_0_20251020_113320_115375.jpg",
      "image_size": {
        "width": 1920,
        "height": 1080
      },
      "roi": {
        "coordinates": {
          "absolute_image": {
            "1": {
              "x": 404,
              "y": 218
            },
            "2": {
              "x": 732,
              "y": 103
            },
            "3": {
              "x": 913,
              "y": 732
            },
            "4": {
              "x": 1591,
              "y": 495
            }
          },
          "ratio_image": {
            "1": {
              "x": 0.21041667,
              "y": 0.20185185
            },
            "2": {
              "x": 0.38125,
              "y": 0.09537037
            },
            "3": {
              "x": 0.47552083,
              "y": 0.67777778
            },
            "4": {
              "x": 0.82864583,
              "y": 0.45833333
            }
          }
        },
        "annotated_image": {
          "path": "../config/roi/manual_original_0_20251020_113320_115375_front_ROI_annotated.jpg",
          "size": {
            "width": 1920,
            "height": 1080
          }
        }
      },
      "mask": {
        "saved": true,
        "coordinates": {
          "absolute_on_image": {
            "1": {
              "x": 807,
              "y": 618
            },
            "2": {
              "x": 1132,
              "y": 559
            },
            "3": {
              "x": 910,
              "y": 731
            },
            "4": {
              "x": 1212,
              "y": 627
            }
          },
          "ratio_on_image": {
            "1": {
              "x": 0.4203125,
              "y": 0.57222222
            },
            "2": {
              "x": 0.58958333,
              "y": 0.51759259
            },
            "3": {
              "x": 0.47395833,
              "y": 0.67685185
            },
            "4": {
              "x": 0.63125,
              "y": 0.58055556
            }
          }
        },
        "annotated_image": {
          "path": "../config/roi/manual_original_0_20251020_113320_115375_front_ROI_MASK_annotated.jpg",
          "size": {
            "width": 1920,
            "height": 1080
          }
        }
      }
    },
    "rear": {
      "saved": true,
      "time": "2025/10/22 am 10:15",
      "image_path": "../test_img/rear/bg/bg_rear.jpg",
      "image_size": {
        "width": 1920,
        "height": 1080
      },
      "roi": {
        "coordinates": {
          "absolute_image": {
            "1": {
              "x": 1305,
              "y": 290
            },
            "2": {
              "x": 1613,
              "y": 381
            },
            "3": {
              "x": 214,
              "y": 818
            },
            "4": {
              "x": 974,
              "y": 1061
            }
          },
          "ratio_image": {
            "1": {
              "x": 0.6796875,
              "y": 0.26851852
            },
            "2": {
              "x": 0.84010417,
              "y": 0.35277778
            },
            "3": {
              "x": 0.11145833,
              "y": 0.75740741
            },
            "4": {
              "x": 0.50729167,
              "y": 0.98240741
            }
          }
        },
        "annotated_image": {
          "path": "../config/roi/bg_rear_rear_ROI_annotated.jpg",
          "size": {
            "width": 1920,
            "height": 1080
          }
        }
      },
      "mask": {
        "saved": true,
        "coordinates": {
          "absolute_on_image": {
            "1": {
              "x": 736,
              "y": 565
            },
            "2": {
              "x": 1027,
              "y": 620
            },
            "3": {
              "x": 554,
              "y": 660
            },
            "4": {
              "x": 867,
              "y": 730
            }
          },
          "ratio_on_image": {
            "1": {
              "x": 0.38333333,
              "y": 0.52314815
            },
            "2": {
              "x": 0.53489583,
              "y": 0.57407407
            },
            "3": {
              "x": 0.28854167,
              "y": 0.61111111
            },
            "4": {
              "x": 0.4515625,
              "y": 0.67592593
            }
          }
        },
        "annotated_image": {
          "path": "../config/roi/bg_rear_rear_ROI_MASK_annotated.jpg",
          "size": {
            "width": 1920,
            "height": 1080
          }
        }
      }
    }
  }
}